.hearder{
    width: calc(100vw - 200px);
    margin-left: 200px;
    .recherche{
        width: 90%;
        height: 40px;
        max-width: 400px;
        margin: 1rem auto;
        border-radius: 7px;
        border: 2px solid var(--border-color);
        display: flex;
        align-items: center;
        justify-content: center;
        .icon{
          width: 30px;
          height: 20px;
        }
        .input{
           width: calc(90% - 30px);
           height: 30px;
           background-color: var(----background);
           color: var(--texte-colors);
           &:focus{
            border: none;
            outline: none;
           }
        }
    }
    .reell{
      width: 90%;
      max-width: 900px;
      margin: 20px auto;
      display: flex;
      overflow: hidden;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        width: 5px;
        height: 8px;
        background-color: var(----background); 
      }
        &::-webkit-scrollbar-thumb{
            background: var(----background);
         }
    }
    .post{
      width: 98%;
      max-width: 500px;
      margin: 0px auto;
    }
}