
@import url("./Styles/style_left.scss");
@import url("./Styles/style_utile/couleurs.css");
@import url('./Styles/style_hearder.scss');
@import url("./Styles/style_stori.scss");
@import url("./Styles/style_post.scss");

*,::after,::before{
    margin: 0%;
    padding: 0%;
    outline: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    background-color: var(--background);
    color: var(--texte-colors);
    font-size: 20px;
}